{% load static %}
<div class="line"></div>

<footer class="footer">
    <div class="service">
        <div class="services">
            <a class="services__items_main" href="">Сервисы</a>
            <a class="services__items" href="">Ускоренная доставка</a>
            <a class="services__items" href="">Возврат</a>
            <a class="services__items" href="">Гарантия</a>
        </div>
        <div class="for_bussines">
            <a class="services__items_main" href="">Монтажникам</a>
            <a class="services__items" href="">Застройщикам</a>
            <a class="services__items" href="">Магазинам</a>
        </div>
    </div>
    <div class="footer_pages">
        <a class="services__items" href="index.html">Главная</a>
        <a class="services__items" href="">Каталог</a>
        <a class="services__items" href="about.html">О нас</a>
        <a class="services__items" href="">Сотрудничество</a>
        <a class="services__items" href="login.html">Регистрация в лк</a>
    </div>
    <div class="footer_about">
        <h3>О компании</h3>
        <p>Телефон: +7 777 666 55 44</p>
        <p>Шымкент, ул Сайрамская 85/1</p>
        <h3>Социальные сети</h3>
        <a href=""><img src="https://img.icons8.com/fluency/48/instagram-new.png" alt=""></a>
        <a href=""><img src="" alt=""></a>
    </div>
    <div class="contacts">
        <h3>Прямая связь с руководством:</h3>
        <a class="contact_img" href=""><img src="https://img.icons8.com/color/48/whatsapp--v1.png" alt=""></a>
        <a class="contact_img" href=""><img src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/48/external-telegram-is-a-cloud-based-instant-messaging-and-voice-over-ip-service-logo-shadow-tal-revivo.png" alt=""></a>
        <a class="contact_img" href=""><img src="https://img.icons8.com/color/48/viber.png" alt=""></a>
    </div>
</footer>